@page "/mobile-packinglist"
@using Sipcon.Mobile.WebApp.Layout
@using Sipcon.Mobile.WebApp.Pages.Mobile.Models
@layout MobileLayout

<div style="flex-shrink: 0;" class="pa-3 jpv1-dialog-body-background">
    <MudPaper Elevation="2" Class="pa-3">
        <MudGrid Spacing="2">
            <MudItem xs="12">
                <MudStack Row="false" Class="pa-2 mud-theme-info mud-typography-h6" Spacing="1" style="line-height:1.1;">
                    <div>CLIENTE : @CustomerName</div>
                    <MudStack Row="true" StretchItems="StretchItems.Start" Justify="Justify.FlexEnd">
                        <div>BULTO: @PackingCode</div>
                    </MudStack>
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudText>
                    <MudDataGrid @ref="PackingListMudDataGrid" T="Models.PackageList" ServerData="ServerReload" Striped="true" Hover="true" Loading="_loading" Filterable="false" FixedHeader @bind-CurrentPage="GuideCurrentPage" ShowColumnOptions="false" Class="hide-datagrid-headers">
                        <Columns>
                            <TemplateColumn>
                                <CellTemplate>
                                    <MudItem xs="12">
                                        <MudStack Row="true" StretchItems="StretchItems.Start" Justify="Justify.FlexEnd" Spacing="2">
                                            <div>@context.Item.PartInnerCode</div>
                                            <div>@context.Item.PartName</div>
                                            <div>@context.Item.Quantity</div>
                                        </MudStack>
                                    </MudItem>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>
                    </MudDataGrid>
                </MudText>
            </MudItem>
            <MudItem xs="12">
                <MudTextField T="string" Margin="Margin.Dense" OnAdornmentClick="OnSearchClicK" Clearable="true" TextUpdateSuppression="@IsTextUpdateSuppression" OnKeyUp="CodeFieldOnKeyUp" @bind-Value="searchString" OnClearButtonClick="OnClearClick" Placeholder="Buscar" @ref="searchStringField" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" HelperText="@mHelpText" Variant="Variant.Filled" HelperId="custom-helper-text" />
                @* <MudTextField T="string" Margin="Margin.Dense"  ValueChanged="@(s => OnSearch(s))" Value="searchString" Placeholder=" Buscar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" HelperText="@mHelpText" Variant="Variant.Filled" HelperId="custom-helper-text" /> *@
            </MudItem>
            <MudItem xs="12">
                <MudStack Row="true" Justify="Justify.Center">
                    <MudStack Row="true" Spacing="5">
                        <MudFab Color="Color.Success" StartIcon="@Icons.Material.Filled.Refresh" Size="Size.Medium" OnClick="ClickRefreshPackingPending" />
                        <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Close" Size="Size.Medium" Href="process-list" />
                        @*  <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Scanner" Size="Size.Medium" OnClick="ClickScanner" /> *@
                    </MudStack>
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudPaper>
</div>
<style>
    .hide-datagrid-headers .mud-table-head {
        display: none !important;
    }
    #custom-helper-text {
        font-size: 1rem;
        color: @(IsTextUpdateSuppression ? "red" : "blue");
        font-style: italic;
    }
    .scrollable-container {
        max-height: 300px; 
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
@code { [Inject] private UserSession Session { get; set; } = null!;
    [Inject] private Repository.Auth.AuthenticationProviderJWT AuthenticationStateProvider { get; set; } = null!;
    [Inject] private HttpClient Http { get; set; } = default!;
    [Inject] private IDialogService DialogService { get; set; } = default!;
    bool IsTextUpdateSuppression = true;  

    bool _loading = true;
    private string searchString { get; set; } ="";    
    private int PackageCurrentPage = 0;
    private MudDataGrid<Models.PackageList>? PackingListMudDataGrid;
    private MudTextField<string>? searchStringField;
    private int GuideCurrentPage = 0;
    private string PackingCode = "";
    private string CustomerName = "";
    string mHelpText = "";


    private async Task ClickRefreshPackingPending(MouseEventArgs ev)
    {
        mHelpText = "";
        CustomerName = "";
        PackingCode = "";
        await PackingListMudDataGrid!.ReloadServerData();
        await searchStringField!.FocusAsync();
    }
    private async Task OnSearch(string text)
    {
        
        if (text.Length >= 3)
        { 
            searchString = text;
            //IsTextUpdateSuppression = false; 
            mHelpText = "Espere por favor...";
            //StateHasChanged();
            await PackingListMudDataGrid!.ReloadServerData(); 
         
        }           
    }
    private async Task<GridData<Models.PackageList>> ServerReload(GridState<Models.PackageList> state)
    {
        await AuthenticationStateProvider.RefresMobileStaticVariables();
        _loading = true;
        var totalItems = 0;
        var mOffset = state.Page * state.PageSize;
        IEnumerable<Models.PackageList>? data = null;

        if (!string.IsNullOrEmpty(searchString))
        {
            HttpResponseMessage response = await Http.GetAsync($"api/Packing/GetPackingList?supplierId={Session.SupplierId}&packageCode={searchString.TrimEnd()}");
            if (response.IsSuccessStatusCode)
            {
                var content2 = await response.Content.ReadFromJsonAsync<WebApiResponse<List<Models.PackageList>>>();
                totalItems = content2!.total ?? 0;
                data = content2!.data ?? new List<Models.PackageList>();
                CustomerName = data.FirstOrDefault()?.CustomerName ?? "";
                PackingCode = data.FirstOrDefault()?.Code ?? "";
            }
            else
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                throw new Exception(errorMessage);
            }

            totalItems = data.Count();

            // Sorting
            if (state.SortDefinitions.FirstOrDefault() is SortDefinition<Models.PackageList> sortDefinition)
            {
                data = data.OrderByDirection(sortDefinition.Descending ? SortDirection.Descending : SortDirection.Ascending, GetSortKeySelector(sortDefinition.SortBy));
            }

            _loading = false;
            mHelpText = totalItems == 0 ? $"No se encontro {searchString.TrimEnd()}" : "";
        }
        searchString = string.Empty;      
        StateHasChanged();
        IsTextUpdateSuppression = true;

        return new GridData<Models.PackageList> { TotalItems = totalItems, Items = data ?? new List<Models.PackageList>() };

    }
    Func<Models.PackageList, object> GetSortKeySelector(string sortByPropertyName) => sortByPropertyName switch
    {
        nameof(Models.PackageList.PartInnerCode) => o => o.PartInnerCode ?? "",
        nameof(Models.PackageList.PartName) => o => o.PartName ?? "",
        nameof(Models.PackageList.Quantity) => o => o.Quantity ?? 0,
        _ => null! //o => o.Id ?? 0 // Criterio de ordenación por defecto
    };

    private async Task ClickScanner(MouseEventArgs args)
    {
        mHelpText = "";
        searchString = string.Empty;
        await searchStringField!.FocusAsync();
        IsTextUpdateSuppression = !IsTextUpdateSuppression;        
    }
    private async Task OnSearchClicK(MouseEventArgs args)
    {
        if (searchString.Trim().Length > 3)
        {
            IsTextUpdateSuppression = false;
            mHelpText = "Espere por favor...";
            await PackingListMudDataGrid!.ReloadServerData();
            await searchStringField!.FocusAsync();
        }

    }
    private async Task OnClearClick(MouseEventArgs args)
    {
        mHelpText = "";
        searchString = string.Empty;
        await Task.CompletedTask;
    }
    private async Task CodeFieldOnKeyUp(KeyboardEventArgs args)
    {
        if (args.Key == "Enter" && searchString.Length >= 3)
        {
            IsTextUpdateSuppression = false;
            mHelpText = "Espere por favor...";
            await PackingListMudDataGrid!.ReloadServerData();
        }
    }
}