@page "/process-list"
@using Sipcon.Mobile.WebApp.Layout
@layout MobileLayout

<div style="flex-shrink: 0;" class="pa-3 jpv1-dialog-body-background">
    <MudPaper Elevation="2" Class="pa-3">
        <MudStack Justify="Justify.Center" Row="false" Spacing="3">
            <MudSelect T="UserType" Label="Planta" ToStringFunc="@ConvertCityFunc" ValueChanged="OnUserTypeValueChanged" Value="UserTypeSelected" Dense="true">
                @foreach (var usersupplier in _UserSuppliers!)
                {
                    <MudSelectItem Value="usersupplier" />
                }
            </MudSelect>
            @if (_ModuleNames.Contains("INVENTARIO-MOVIL-RECEPCION"))
            {
                <MudButton Class="pa-2 mud-text-align-center" Variant="Variant.Filled" Color="Color.Info" EndIcon="@Icons.Material.Filled.AddBusiness" Href="mobile-reception" Disabled="@(UserTypeSelected is null)">Recepcion</MudButton>
            }
            @if (_ModuleNames.Contains("INVENTARIO-MOVIL-TRASLADO"))
            {
            <MudButton Class="pa-2 mud-text-align-center" Variant="Variant.Filled" Color="Color.Info" EndIcon="@Icons.Material.Filled.MoveDown" Href="mobile-transfer" Disabled="@(UserTypeSelected is null)">Traslado</MudButton>
            }
            @if (_ModuleNames.Contains("INVENTARIO-MOVIL-RECOLECCION")) 
            {
            <MudButton Class="pa-2 mud-text-align-center" Variant="Variant.Filled" Color="Color.Info" EndIcon="@Icons.Material.Filled.ShoppingCartCheckout" Href="mobile-collection" Disabled="@(UserTypeSelected is null)">Recoleccion</MudButton>
            }
            @if (_ModuleNames.Contains("INVENTARIO-MOVIL-EMBALAJE"))
            {
            <MudButton Class="pa-2 mud-text-align-center" Variant="Variant.Filled" Color="Color.Info" EndIcon="@Icons.Material.Filled.MoveToInbox" Href="mobile-packing" Disabled="@(UserTypeSelected is null)">Embalaje</MudButton>
            }
            @if (_ModuleNames.Contains("INVENTARIO-MOVIL-DESPACHO")) 
            {
             <MudButton Class="pa-2 mud-text-align-center" Variant="Variant.Filled" Color="Color.Info" EndIcon="@Icons.Material.Filled.LocalShipping" Href="mobile-dispatch" Disabled="@(UserTypeSelected is null)">Despacho</MudButton>
            }
            
            <MudButton Class="pa-2 mud-text-align-center" Variant="Variant.Filled" Color="Color.Info" EndIcon="@Icons.Material.Filled.ManageSearch" Href="mobile-packinglist" Disabled="@(UserTypeSelected is null)">Packing List</MudButton>
            
        </MudStack>
    </MudPaper>
</div>

@code{
    [Inject] private UserSession Session { get; set; } = null!;
    [Inject] private Repository.Auth.AuthenticationProviderJWT AuthenticationStateProvider { get; set; } = null!;

    private Func<UserType?, string> ConvertCityFunc = usertype => usertype?.Name!;
    private UserType? UserTypeSelected;
    public List<UserModule> Modules { get; set; } = new List<UserModule>();
    private List<string> _ModuleNames = new List<string>();
    private List<UserType> _UserSuppliers { get; set; } = new List<UserType>();

    override protected async Task OnInitializedAsync()
    {   
        _UserSuppliers = await AuthenticationStateProvider.GetUserSupplierAsync();
        Modules = await AuthenticationStateProvider.GetUserRoleAsync();       
        _ModuleNames = Modules.Select(s => s.Name).ToList(); 
        Session.SupplierId = await AuthenticationStateProvider.GetSelectedSupplierAsync();

        UserTypeSelected = _UserSuppliers.FirstOrDefault(u => u.Id == Session.SupplierId);
        Useful.customerId = 0;
        Useful.customerName = "";        
    }
    private async Task OnUserTypeValueChanged(UserType selectedUserType)
    {
        UserTypeSelected = selectedUserType;
        Session.SupplierId = selectedUserType.Id;
        await AuthenticationStateProvider.SetValueSessionStorage<int>(selectedUserType.Id, ValuesKey.SELECTEDSUPPLIER);       
    }
   
}